---
import Footer from '../components/Footer.astro';
import Search from '../components/Search.astro';
---
<html lang="tr">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>BitAr - Mini bitki arama motoru</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<Search />

<!-- Footer -->
<Footer />
</body>
</html>
