---

---

<footer>
    <div class="footer-left">
        <p>&copy; 2025 - present | Tolga Boran Alper <a href="https://raw.githubusercontent.com/tolgabalper/bio-project/refs/heads/main/LICENSE.md" style="color: #555; text-decoration-line: none">MIT License</a></p>
        <p>
            The photos are taken for educational purposes and subject to their own copyright
            terms.
        </p>
    </div>
    <div class="footer-middle">
        <!-- This column intentionally left blank -->
    </div>
    <div class="footer-right">
        <div class="github-row">
            <span>View the source code on</span>
            <a href="https://github.com/tolgabalper/bio-project" target="_blank">
                <img src="/images/logo-github-24.svg" alt="GitHub Icon" />
            </a>
        </div>
        <div class="astro-row">
            <span>This site is built with</span>
            <a href="https://astro.build" target="_blank">
                <img src="/images/astro-logo-dark.svg" alt="Astro Logo" />
            </a>
        </div>
    </div>
</footer>


